<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>17/06/04 23:13:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass1.c1m1()[pri:0, instance:com.hcl.auto.TestNgClasses.TestNGClass1@ae45eb6]">c1m1</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/06/04 23:13:45</td>   <td>22905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass1.c1m2()[pri:0, instance:com.hcl.auto.TestNgClasses.TestNGClass1@ae45eb6]">c1m2</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>17/06/04 23:13:45</td>   <td>23047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass2.c2m4()[pri:0, instance:com.hcl.auto.TestNgClasses.TestNGClass2@e25b2fe]">c2m4</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>17/06/04 23:13:51</td>   <td>29449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass2.c2m5()[pri:0, instance:com.hcl.auto.TestNgClasses.TestNGClass2@e25b2fe]">c2m5</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
